
bin
lib
obj
/GraphicsMagick.NET.AnyCPU/Resources/ReleaseQ8/*
/GraphicsMagick.NET.AnyCPU/Resources/ReleaseQ16/*
/GraphicsMagick/Source/GraphicsMagick
/ipch
/Publish/NuGet/ApiKey.txt
/Publish/NuGet/*.nupkg
/Publish/Zip
/TestResults
*.opensdf
*.sdf
*.suo
GraphicsMagick.NET.VC.db
GraphicsMagick.NET.VC.VC.opendb
GraphicsMagick.NET/GraphicsMagick.NET.vcxproj.user
Publish/Pdb/Q8-net452.GraphicsMagick.NET-x86.pdb
Publish/Pdb/Q16-net452.GraphicsMagick.NET-x86.pdb
Publish/Pdb/Q16-net452.GraphicsMagick.NET-x64.pdb
Publish/Pdb/Q8-net452.GraphicsMagick.NET-x64.pdb
